
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ласкаво просимо на наш сайт!</h1>
            <p class="lead">Тут контент</p>
        </div>
    </div>
<div class="row">
</div>


