@model ToysStore.Web.Models.ViewModel.ToyViewModel
@using ToysStore.Web.Models.WebUI
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            @Html.Action("Categories", "Source")
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            @foreach (var item in Model.Toys)
            {
                @Html.Partial("ToyList", item)
            }
        </div>
        <nav>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Catalog", new { category = Model.CurrentCategory, page = x }))
        </nav>
    </div>
</div>
