
@{
    ViewBag.Title = "In Progress";
}
<style>
    body {
        background-image: url('../../Content/img/background/99px_ru_photo_320783_zelenaja_akula_na_belom_fone_by_cryptidcreations.png');
        background-repeat: no-repeat;
        background-position: 50% 300px;
        background-attachment: fixed;
        background-size: 50%;
    }
</style>
<h2>В розробці</h2>

